:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
    --p-palette-1: #818cf8;
    --p-palette-2: #34d399;
    --p-palette-3: #a78bfa;
    --p-palette-4: #fbbf24;
    --p-palette-5: #fb7185;
}
