:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
    --p-palette-1: #6366f1;
    --p-palette-2: #10b981;
    --p-palette-3: #8b5cf6;
    --p-palette-4: #f59e0b;
    --p-palette-5: #f43f5e;
}
